@model Aircnc.FrontStage.Models.ViewModels.Member.MemberViewModel
@{
	ViewData["Title"] = "個人資料";
}

<section>
	<div class="container">
		<div class="row ms-4">
			<div class="col-12 col-md-3 left-container">
				<div class="drop-zone mt-4 mb-5">
					<span class="drop-zone__prompt">
						<img src="@Model.Photo" class="rounded-circle profile-picture">
					</span>
					<input type="file" name="myFile" class="drop-zone__input" id="drop-zone__input">
				</div>
				<h5 id="update-photo">更新相片</h5>
				<p id="url"></p>
				@*<div class="review-container my-4 d-flex">
					<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
					class="bi bi-star" viewBox="0 0 16 16">
					<path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
					</svg>
					<span class="reviews-amount ms-2">11則評價</span>
					</div>*@
				<hr>
				<hr id="hr-sm-display">
				<i class="bi bi-shield-check"></i>
				<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
					 class="bi bi-shield-check" viewBox="0 0 16 16">
					<path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z" />
					<path d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
				</svg>
				<div class="identiy-check">
					<h4 class="title my-3">身分驗證</h4>
					<p>透過身分驗證徽章展示你真的 是本人。</p>
				</div>
				<a class="get-badge my-2" href="/Member/Upload_Identification">
					取得徽章
				</a>
				<hr>
				<div class="confirm-already mb-5">
					<h4 class="my-4">@Model.Name 已驗證</h4>
					@if (Model.MailIsVerify)
					{
						<div class="checklist my-2">
							<i class="fas fa-check">&nbsp;</i>
							電子郵件地址
						</div>
					}
					@if (Model.Phone != "" && Model.Phone != null)
					{
						<div class="checklist my-2">
							<i class="fas fa-check">&nbsp;</i>
							電話號碼
						</div>
					}
					@if (Model.IdPhoto != null && Model.IdPhoto != "")
					{
						<div class="checklist my-2">
							<i class="fas fa-check">&nbsp;</i>
							身分
						</div>
					}
				</div>
			</div>
			<!-- <hr id="hr-sm-display"> -->
			<div class="right-container col-12 col-md-7 py-md-auto d-none d-md-block ms-md-5">
				<div class="title">
					<h2>嗨！我是 @Model.Name</h2>
				</div>
				<div class="year-date">加入時間：@Model.CreateTime 年</div> @*.GetDateTimeFormats(y)[0].ToString()*@
				<div>
					<button class="btn edit-personal-data my-1" data-bs-toggle="collapse" href="#collapseExample"
							aria-expanded="false" aria-controls="collapseExample">
						編輯個人資料
					</button>
					<div class="collapse" id="collapseExample">
						<div class="mb-3">
							<label for="exampleFormControlTextarea1" class="form-label">關於我</label>
							<textarea class="form-control" id="about_me_input" rows="3"></textarea>
						</div>
						<div class="location my-4">
							<h5 class="modal-title">位置</h5>
							<input class="input-frame my-1" type="text" id="location_input">
						</div>
						<div class="language my-4">
							<h5 class="modal-title">我使用的語言</h5>
							<input class="input-frame my-1" type="text" id="language_input">
						</div>
					</div>
					<div class="d-flex justify-content-between cancel_save">
						<button id="cancel_btn" class="btn" type="button" data-bs-toggle="collapse"
								data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
							取消
						</button>
						<button id="save_btn" class="btn" type="button" data-bs-toggle="collapse"
								data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
							儲存
						</button>
					</div>
				</div>
				<div class="show_personal_data">
					<div class="about-me my-4">
						<h5>關於我</h5>
					</div>
					<div class="my-2" id="about_me_output">
						<p>Food lover and Avid fan of photography specifically in Street Photography.</p>
					</div>
					<div class="residency my-3">
						<i class="fas fa-home"></i>
						住在<span id="location_output"> @Model.Address</span>
					</div>
					<div class="language my-3">
						<i class="fas fa-comment-alt"></i>
						使用語言：<span id="language_output"></span>
					</div>
				</div>
				@if (@Model.ImageUrl != null && Model.ImageUrl != "")
				{
					<hr>
					<div class="user-property my-3">
						<h4>@Model.Name 的房源</h4>
					</div>
					<div class="property-photo my-2">
						<img src="@Model.ImageUrl" class="my-2">
					</div>
				}

				@*<hr>
					<div class="review-container">
					<div class="my-4 d-flex align-items-center">
					<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
					class="bi bi-star-fill" viewBox="0 0 16 16">
					<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
					</svg>
					&nbsp;
					<i class="bi bi-star-fill reviews-amount">11則評價</i>
					</div>

					<ul class="nav nav-pills" id="pills-tab" role="tablist">
					<li class="nav-item" role="presentation">
					<button onclick="click_tenant_review()" class="nav-link active" id="tenant_review"
					data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab"
					aria-controls="pills-home" aria-selected="true">
					來自房客的評價
					</button>
					</li>
					<li class="nav-item" role="presentation">
					<button onclick="click_landlord_review()" class="nav-link" id="landlord_review"
					data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab"
					aria-controls="pills-profile" aria-selected="false">
					來自房東的評價
					</button>
					</li>
					</ul>
					<hr class="m-0">
					<div class="tab-content mt-5" id="pills-tabContent">
					<div class="tab-pane fade show active" id="pills-home" role="tabpanel"
					aria-labelledby="pills-home-tab">
					<div>
					<div class="year-date mb-3">一月 2016</div>
					<div class="comment">
					Yu was a nice guest. He informed me of any problems he has during his stay.
					Coomunication was really clear. My apartment was clean when he left
					</div>
					<div class="commenter-profile-container mt-1 mb-5">
					<div class="commenter-picture">
					<img src="~/css/Personal_Details/Photos/user_pic-225x225.png">
					</div>
					<div class="commenter ms-2 mb-2">
					<div class="user">Thomas</div>
					<div class="year-date">加入時間：2015</div>
					</div>
					</div>
					<div class="year-date mb-3">七月 2016</div>
					<div class="comment">
					<p>
					Really good appartment with amazing swimmingpool in rooftop. Adi reply quick
					all doubts you can have and he is very helpfully. During the night not so
					much to do in these area, but there is a metro…
					</p>
					</div>
					<div class="commenter-profile-container mt-1 mb-5">
					<div class="commenter-picture">
					<img src="~/css/Personal_Details/Photos/user_pic-225x225.png">
					</div>
					<div class="commenter ms-2 mb-2">
					<div class="user">Philipp</div>
					<div class="year-date">加入時間：2014</div>
					</div>
					</div>
					<div class="year-date mb-3">九月 2015</div>
					<div class="comment">
					<p>
					My stay at Adi's apartment was very enjoyable and comfortable. Apartment was
					clean and has good facilities. Pool is gorgeous. He was very attentive to my
					stay, always a (Hidden by Airbnb) away when I needed help finding places.
					Attention to detail and customer-focused, I strongly recommend a stay at his
					apartment - makes KL a perfect place!
					</p>
					</div>
					<div class="commenter-profile-container mt-1 mb-5">
					<div class="commenter-picture">
					<img src="~/css/Personal_Details/Photos/user_pic-225x225.png">
					</div>
					<div class="commenter ms-2 mb-2">
					<div class="user">Wan Jia-Cheng</div>
					<div class="year-date">加入時間：2009</div>
					</div>
					</div>
					</div>
					</div>
					<div class="tab-pane fade" id="pills-profile" role="tabpanel"
					aria-labelledby="pills-profile-tab">
					<div>
					<div class="year-date mb-3">二月 2012</div>
					<div class="comment">
					<p>
					Murat checked into my apartment earlier by 2 hours (at 1 pm versus normal
					arrival time at 3 pm). The issue was found at 5 am when I was doing the
					cleaning. Could not find a plumber working at 5 in the morning. The issue
					was resolved when I finally found a plumber able to do the fixing at 2 pm
					and completed in 30 minutes. Could have fixed the plumbing issue if Murat
					arrived in normal time. Which is not the case. Thanks Murat for your
					valuable feedbacks!
					</p>
					</div>
					<div class="commenter-profile-container mt-1 mb-5">
					<div class="commenter-picture">
					<img src="~/css/Personal_Details/Photos/user_pic-225x225.png">
					</div>
					<div class="commenter ms-2 mb-2">
					<div class="user">Adi</div>
					<div class="year-date">加入時間：2015</div>
					</div>
					</div>
					<div class="year-date mb-3">七月 2022</div>
					<div class="comment">
					<p>
					Stayed in the apartment for 2 nights. Adi was very accommodating let us do a
					late check out to accommodate our late flight. The condo was perfect just as
					the pictures and the pool on the 37th floor…
					</p>
					</div>
					<div class="commenter-profile-container mt-1 mb-5">
					<div class="commenter-picture">
					<img src="~/css/Personal_Details/Photos/user_pic-225x225.png">
					</div>
					<div class="commenter ms-2 mb-2">
					<div class="user">Akiko Kishishita</div>
					<div class="year-date">加入時間：2025</div>
					</div>
					</div>
					<div class="year-date mb-3">八月 2016</div>
					<div class="comment">
					<p>
					Adi was a very good host. Always responds right away. The place is beutiful
					and spacious. Definitely recommend staying here. Also great view of the
					downtown area.
					</p>
					</div>
					<div class="commenter-profile-container mt-1 mb-5">
					<div class="commenter-picture">
					<img src="~/css/Personal_Details/Photos/user_pic-225x225.png">
					</div>
					<div class="commenter ms-2 mb-2">
					<div class="user">Ashton</div>
					<div class="year-date">加入時間：2020</div>
					</div>
					</div>
					<div class="year-date mb-3">十一月 2013</div>
					<div class="comment">
					<p>
					Adi fue un buen anfitrión, pese a no poder estar cuando llegamos, nos envió
					unas instrucciones perfectas que nos hicieron muy cómodo entrar al piso y
					estuvo atento en todo momento. La ubicación de los apartamentos esta un poco
					alejada del centro pero no esta mal comunicada, claro que todo se arregla
					con las maravillosas vistas desde la piscina.
					</p>
					</div>
					<div class="commenter-profile-container mt-1 mb-5">
					<div class="commenter-picture">
					<img src="~/css/Personal_Details/Photos/user_pic-225x225.png">
					</div>
					<div class="commenter ms-2 mb-2">
					<div class="user">Mike Lee</div>
					<div class="year-date">加入時間：2021</div>
					</div>
					</div>
					</div>
					</div>
					</div>
					<hr>
					</div>*@
			</div>
		</div>
	</div>
</section>

<script src="~/js/GuestModule/Personal_Details.js"></script>

@section topCSS{
<link href="~/css/Personal_Details/normalize.css" rel="stylesheet" />
<link href="~/css/Personal_Details/Personal_Details.css" rel="stylesheet" />
}
