
@model Aircnc.FrontStage.Models.ViewModels.RoomOwner.CalendarRoomIdViewModel
@{
    ViewData["Title"] = "編輯月曆";

    Layout = "RoomCalendarLayout.cshtml";
    var jsonDrop = Html.Raw(ViewData["JsonUpDown"]);
    var jsonCalendar = Html.Raw(ViewData["JsonCalendar"]);
}


@section topCSS{
    <style>
        #thecontainer {
            padding-top:100px;
        }
        td {
            border: 1px solid #EBEBEB;
            height: 80px;
        }

        #Change_area {
            min-height: 100vh;
        }

        .input_price {
            height: 3rem;
            border: 1px solid #B0B0B0;
            border-radius: 5px;
            padding-left: 2rem;
        }
        .chosed{
            color :red;
        }
        .btn:focus {
            box-shadow:none;
        }

        #dropdownMenuButton1 {
            /*background-image: linear-gradient(#F5C3EA, #C6A4DD);*/
            /*border:2px solid black;*/
        }
        @@media screen and (min-width: 767px) {
            #Change_area {
                position: fixed;
                top: 100px;
                left: 75%;
            }
        }
        tr > .tdchosen:hover {
            background: #A5CAE8 !important;
            transition:.3s;
        }
        td {
            width: 14.2857142857%
        }



    </style>
}


<body>
    <div class="contanire-fluid" id="thecontainer">
        <div class="row ps-md-5 CalendarRow ">
            <!-- 月曆區 -->
            <div class="col-md-9 col-12">

                <div class="w-100 d-flex mt-5 mb-5">
                    @*<div class="my-5 fs-2 ms-2 me-auto" id="monthtext"></div>*@
                    <div class="dropdown ms-auto my-auto">
                        <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            @Model.CurrentRoom.RoomName
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="RoomNameDropMenu">
                            @*<li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>*@
                        </ul>
                    </div>
                </div>
                <table class="table  ">
                    <thead class="table">
                        <tr>
                            <th>日</th>
                            <th>一</th>
                            <th>二</th>
                            <th>三</th>
                            <th>四</th>
                            <th>五</th>
                            <th>六</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- 動態生成 -->
                    </tbody>
                </table>
                @*<div class="col-12 d-flex ">
                    <button class="btn btn-primary ms-auto" onclick="lastMonth()">上個月</button>
                    <button class="btn btn-primary ms-3" onclick="nextMonth()">下個月</button>
                </div>*@
            </div>

            <!-- 選項 -->
            <div class="col-12 col-md-3 border-start border-top mt-5 mt-md-0" id="Change_area">
                @*<div class="row mt-5"  >
                    <div class="col-12 fs-3 fw-bolder mt-5 ">{{4月9日 週六}}</div>
                    <div class="col-12 d-flex justify-content-between mt-5 pb-5 border-bottom">
                        <div class="fs-5 mt-auto mb-auto fw-bolder">可供預定</div>
                        <div>
                            <button class="btn fs-2 "><i class="far fa-check-circle"></i></button>
                            <button class="btn fs-2"><i class="far fa-times-circle"></i></button>
                        </div>
                    </div>
                    <div class="col-12 border-bottom">
                        <div class="mt-3 fs-5 fw-bolder">每晚訂價</div>
                        <div id="input_ctrl " class="w-100 mt-3 mb-5">
                            <input type="text" value="500" class="w-75 input_price"
                                   onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">
                        </div>
                    </div>
                </div>*@
            </div>


        </div>
    </div>


    @section endJS{
        <script>

        //抓今天日期
            const today = new Date()

        let year = today.getFullYear()
        //month0開始
        let month = today.getMonth()
        let date = today.getDate()


        //Dom
        const RoomNameDropMenu = document.getElementById('RoomNameDropMenu')

        const monthText = document.querySelector('#monthtext')

        const dateArea = document.querySelector('tbody')

        const addModal = document.querySelector('#add-modal')
        const editModal = document.querySelector('#edit-modal')
        const todoModal = document.querySelector('#todo-modal')

        const addDateInput = document.querySelector('#add-date')
        const addTitleInput = document.querySelector('#add-title')
        const editDateInput = document.querySelector('#edit-date')
        const editTitleInput = document.querySelector('#edit-title')

        const todoModalText = document.querySelector('.todo-modal-text')
        const Change_area = document.querySelector('#Change_area')
        let count = document.querySelector('.count')

        window.onload = function () {
            init()
            console.log(dropSourse)
            initDropMenu()
            }
            let jsonCalendar = []
            //轉成js datetime
            jsonCalendar = @jsonCalendar
                jsonCalendar.forEach(x => {
                    x.DateTime = new Date(x.Date)

                })
            console.log(jsonCalendar)
        function init() {
            //要傳進日曆使用的data
            ///room roomcalendar
            let startMonth = today.getMonth()
            let startYear = today.getFullYear()
            dateArea.innerHTML = ''
            /*monthText.innerText = `${year}年${month + 1}月`*/
            // monthText.innerText = months[month]
            // yearText.innerText = year
            while (month < (startMonth + 6)) {
            //這個月第一天禮拜幾
                let firstDay = new Date(year, month, 1).getDay()
                //這個月有幾天
                let dayOfMonth = new Date(year, month + 1, 0).getDate()
                //上個月有幾天
                let previousOfMonth = new Date(year, month, 0).getDate()

                let nextMonthDay = 1

                let day = 1
                let rows = Math.ceil((dayOfMonth + firstDay) / 7)

            

            //判斷要生成半年
           
               
                    let currentMonthText = document.createElement('div')
                currentMonthText.setAttribute('class', 'my-5 fs-2 ms-2 me-auto')
                currentMonthText.innerHTML = `${year}年</br>${month + 1}月`
                    dateArea.appendChild(currentMonthText)
                
                

                for (let row = 0; row < rows; row++) {
                let tr = document.createElement('tr')
                for (let col = 0; col < 7; col++) {
                    let td = document.createElement('td')
                    
                    //價格標籤
                    let div = document.createElement('div')
                    div.classList.add("mt-3")
                    div.classList.add("mb-3")
                    if (row == 0 && col < firstDay) {
                        //上個月
                       /* td.innerText = `${previousOfMonth - firstDay + 1}`*/
                        previousOfMonth++
                        td.classList.add('opacity-25')
                    } else {
                        if (day <= dayOfMonth) {
                            //這個月
                            td.innerText = day
                            div.innerText = "$ " + (@Model.CurrentRoom.UnitPrice).toLocaleString('en-US')+ " TWD";
                            jsonCalendar.forEach(x => {
                                if (x.DateTime.getDate() == day && x.DateTime.getMonth() == month && x.DateTime.getFullYear() == year)
                                {

                                    div.innerText = "$ " + x.UnitPrice.toLocaleString('en-US') + " TWD"

                                    //    Booked = 1,
                                    //    Hided = 2,
                                    //    Able = 3
                                    if (x.RoomCalendarStatus == 1)
                                    {
                                        td.setAttribute('style', 'background-color: #FCE6E4')
                                    }
                                    if (x.RoomCalendarStatus == 2) {
                                        td.setAttribute('style', 'background-color: #ccc')
                                        div.setAttribute('class', 'd-none')

                                    }
                                    //今天和之後 邏輯寫在這邊


                                }

                            })

                            //今天之前的日子
                            if (day < today.getDate() && month == today.getMonth() && year == today.getFullYear() ||
                                month < today.getMonth() && year <= today.getFullYear() || year < today.getFullYear()) {
                                td.classList.add('opacity-25')
                            }
                            //今天
                            if (day == today.getDate() && month == today.getMonth() && year == today.getFullYear()) {
                                let TodaySpan = document.createElement('span')
                                TodaySpan.innerText = '今天'
                                TodaySpan.classList.add('fw-bolder')
                                TodaySpan.classList.add('ms-2')
                                td.appendChild(TodaySpan)

                            }
                            if (day >= today.getDate() || month > today.getMonth() || year >
                                today.getFullYear()) {
                                td.setAttribute('id', `td_${year}_${month + 1}_${day}`)
                                //生成右側選項
                                //將值接過去
                                //找出有沒有這天的資料from calendar
                                //沒有的話價格跟預定都帶預設值
                                //有的話要帶calendar表的值
                                //寫Crud功能
                                td.classList.add('tdchosen')

                                //日期
                                let row = document.createElement('div')

                                row.setAttribute('class', 'row mt-5 d-none')
                                row.setAttribute('id', `row_${year}_${month + 1}_${day}`)
                                    let datediv = document.createElement('div')
                                    datediv.setAttribute('class', 'col-12 fs-3 fw-bolder mt-5 ')
                                    datediv.innerText = `${month+1}月 ${day}日`
                                    //調整房源狀態
                                    let hidediv = document.createElement('div')
                                    hidediv.setAttribute('class', 'col-12 d-flex justify-content-between mt-5 pb-5 border-bottom')
                                    let bookablediv = document.createElement('div')
                                bookablediv.setAttribute('class', "fs-5 mt-auto mb-auto fw-bolder ")
                                    bookablediv.innerText = '可供預定'
                                    let buttondiv = document.createElement('div')
                                    let btn_unable = document.createElement('button')



                                    let i_x = document.createElement('i')
                                    i_x.setAttribute('class', 'far fa-times-circle')

                                    let i_v = document.createElement('i')

                                    i_v.setAttribute('class', 'far fa-check-circle')
                                    let btn_able = document.createElement('button')
                                    btn_able.setAttribute('class', 'btn fs-2 chosed')
                                    btn_able.disabled = true
                                    /*buttondiv.setAttribute('id', `buttondiv_${year}${month + 1}${day}`)*/
                                    btn_unable.setAttribute('id', `btn_unable_${year}_${month + 1}_${day}`)
                                btn_able.setAttribute('id', `btn_able_${year}_${month + 1}_${day}`)
                                
                                


                                btn_unable.setAttribute('class', 'btn fs-2')


                                btn_unable.appendChild(i_x)

                                btn_able.appendChild(i_v)
                                buttondiv.appendChild(btn_unable)
                                buttondiv.appendChild(btn_able)
                                //按鍵選取到的反應
                                let btns = buttondiv.querySelectorAll('button')

                                btns.forEach(btn => {
                                    btn.addEventListener('click', () => {
                                        btns.forEach(btn => {
                                            btn.setAttribute('class', "btn fs-2")
                                            btn.disabled = false
                                        })
                                        btn.setAttribute('class', "btn fs-2 chosed")
                                        btn.disabled = true
                                    })
                                })
                                    hidediv.appendChild(bookablediv)
                                    hidediv.appendChild(buttondiv)
                                    row.appendChild(datediv)
                                    row.appendChild(hidediv)

                                let pricearea = document.createElement('div')
                                pricearea.setAttribute('class', 'col-12 border-bottom')
                                pricearea.id = `pricearea_${year}_${month + 1}_${day}`
                                let pricetext = document.createElement('div')
                                pricetext.setAttribute('class', 'mt-3 fs-5 fw-bolder')
                                pricetext.innerText = "每晚訂價"
                                let input_ctrl = document.createElement('div')
                                input_ctrl.setAttribute('class', "w-100 mt-3 mb-5")
                                let input = document.createElement('input')
                                input.type = "text"
                                input.id = `priceinput_${year}_${month + 1}_${day}`

                                let priceinputbtn = document.createElement('button')
                                priceinputbtn.setAttribute('class', "btn btn-dark mt-1 mb-3")
                                priceinputbtn.innerText = "儲存"
                                priceinputbtn.setAttribute('id', `priceinputbtn_${year}_${month + 1}_${day}`)
                                input.value = parseInt(div.innerText.replace(/\D/g, '').replace('$', '').replace('TWD', '').trim())
                                input.setAttribute('class', 'w-75 input_price')
                                /*input.setAttribute('oninput', "value=value.replace(/^(0+)|[^\d]+/g,'')")*/
                                input.setAttribute('oninput', "this.value = this.value.replace(/[^0-9]/g, '');")


                                //fetch
                                //當點回可預訂要顯示平日樣子
                                btn_able.addEventListener('click', () => {
                                    let d = btn_able.id.replace('btn_able_', '')
                                    console.log(d)
                                    let tdTarget = document.querySelector(`#td_${d}`)
                                    let divtarget = tdTarget.querySelector('div')
                                    divtarget.setAttribute('class', 'mb-3 mt-3')
                                    let priceareaTarget = document.querySelector(`#pricearea_${d}`)
                                    priceareaTarget.setAttribute('class', 'col-12 border-bottom d-block')

                                    tdTarget.setAttribute('style', 'background-color: white')
                                    let dd = d.replace('_', '/').replace('_', "/")
                                    //要傳出去的資料
                                    let result = {}

                                    result.RoomId = @Html.Raw(Model.CurrentRoom.RoomId)
                                    result.Date = new Date(dd)

                                    result.RoomCalendarStatus = 3
                                    result.UnitPrice = parseInt(divtarget.innerText.replace(/\D/g, '').replace('$', '').replace('TWD', '').trim())

                                    console.log(result)

                                    fetch("/RoomOwner/ChangeRoomStatusToable", {
                                        method: "POST",
                                        headers: {
                                            "Content-Type": "application/json"
                                        },
                                        body: JSON.stringify(result)

                                    }).then(response => response.json())
                                        .then(jsonData => {
                                            console.log(jsonData)
                                        })

                                })

                                //fetch
                                //當點到不可預定要屏蔽
                                btn_unable.addEventListener('click', () => {
                                    let d = btn_able.id.replace('btn_able_', '')

                                    let tdTarget = document.querySelector(`#td_${d}`)

                                    let divtarget = tdTarget.querySelector('div')
                                    divtarget.setAttribute('class', 'd-none')
                                    let priceareaTarget = document.querySelector(`#pricearea_${d}`)
                                    //隱藏價格區域
                                    priceareaTarget.setAttribute('class', 'col-12 border-bottom d-none')

                                    tdTarget.setAttribute('style', 'background-color: #ccc')
                                    let dd = d.replace('_', '/').replace('_', "/")
                                    //要傳出去的資料
                                    let result = {}

                                    result.RoomId = @Html.Raw(Model.CurrentRoom.RoomId)
                                    result.Date = new Date(dd)

                                    result.RoomCalendarStatus = 3
                                    result.UnitPrice = parseInt(divtarget.innerText.replace(/\D/g, '').replace('$', '').replace('TWD', '').trim())

                                    console.log(result)

                                    fetch("/RoomOwner/ChangeRoomStatusToDisable", {
                                        method: "POST",
                                        headers: {
                                            "Content-Type": "application/json"
                                        },
                                        body: JSON.stringify(result)

                                    }).then(response => response.json())
                                        .then(jsonData => {
                                            console.log(jsonData)

                                        })


                                })





                                //儲存改變價格


                                //fetch
                                priceinputbtn.addEventListener('click', () => {
                                    let d = priceinputbtn.id.replace('priceinputbtn_', '')
                                    let currentinput = document.querySelector(`#priceinput_${d}`)
                                    let tdTarget = document.querySelector(`#td_${d}`)
                                    let divtarget = tdTarget.querySelector('div')

                                    let dd = d.replace('_', '/').replace('_', "/")
                                    //要傳出去的資料

                                    if (currentinput.value.replace(/\D/g, '') != '' && parseInt(currentinput.value.replace(/\D/g, '')) <@int.MaxValue) {
                                        divtarget.innerText = "$ " + parseInt(currentinput.value.replace(/\D/g, '')).toLocaleString('en-US') + " TWD"
                                        tdTarget.setAttribute('style', 'background-color: white')
                                        let result = {}

                                        result.RoomId = @Html.Raw(Model.CurrentRoom.RoomId)
                                            result.Date = new Date(dd)
                                        result.RoomCalendarStatus = 3
                                        result.UnitPrice = parseInt(divtarget.innerText.replace(/\D/g, '').replace('$', '').replace('TWD', '').trim())
                                        console.log(result)
                                        fetch("/RoomOwner/ChangeUnitPrice", {
                                            method: "POST",
                                            headers: {
                                                "Content-Type": "application/json"
                                            },
                                            body: JSON.stringify(result)

                                        }).then(response => response.json())
                                            .then(jsonData => {
                                                console.log(jsonData)
                                            })
                                    }
                                    else {
                                        alert('價格輸入不符規則')
                                    }
                                })



                                input_ctrl.appendChild(input)
                                pricearea.appendChild(pricetext)
                                pricearea.appendChild(input_ctrl)
                                pricearea.appendChild(priceinputbtn)
                                row.appendChild(pricearea)

                                 //如果日期跟今天一樣且狀態為被屏蔽 要點進去就顯示已經被取消
                                jsonCalendar.forEach(x => {
                                    if (x.RoomCalendarStatus == 2 && x.DateTime.getDate() == day && x.DateTime.getMonth() == month && x.DateTime.getFullYear() == year) {
                                        btn_unable.setAttribute('class', 'btn fs-2 chosed')
                                        btn_unable.disabled = true
                                        //因為生成月曆時先把所有的btn_able調成btn_able.disabled = false chosed 所以那天如果已經被屏蔽要改回來
                                        btn_able.setAttribute('class', 'btn fs-2 ')
                                        btn_able.disabled = false
                                        pricearea.setAttribute('class', 'col-12 border-bottom d-none')
                                    }
                                    else if (x.RoomCalendarStatus == 1 && x.DateTime.getDate() == day && x.DateTime.getMonth() == month && x.DateTime.getFullYear() == year) {
                                        row.innerText = ''
          
                                    }
                                })
                                //控制右側顯示的是現在的日期
                                td.addEventListener('click', () => {
                                    let rows = Change_area.querySelectorAll('.row')

                                    rows.forEach(r => {
                                        r.setAttribute('class','row mt-5 d-none')
                                    })
                                    row.setAttribute('class' ,'row mt-5 d-block')
                                })


                                Change_area.appendChild(row)
                            }

                            td.appendChild(div)
                        } else {
                            //下個月
                            td.innerText = nextMonthDay
                            nextMonthDay++
                            td.classList.add('opacity-25')
                        }
                        day++
                    }

                    tr.append(td)
                }
                dateArea.append(tr)
            }

                if (month < 11) {
                    month++
                    day =1
                }
                else
                {
                    month = 0
                    year++
                    day = 1
                }
                
            }
            }



        //function lastMonth() {
        //    month--
        //    if (month == -1) {
        //        month = 11
        //        year--
        //    }

        //    location.reload
        //    monthText.innerText = `${year}年${month + 1}月`
        //    init()
        //}

        //function nextMonth() {
        //    month++
        //    if (month == 12) {
        //        month = 0
        //        year++
        //    }

        //    location.reload
        //    monthText.innerText = `${year}年${month + 1}月`
        //    init()
        //}

        let dropSourse = []
        dropSourse = @jsonDrop
        console.log(dropSourse)
        function initDropMenu() {
            RoomNameDropMenu.innerHTML = ''
            dropSourse.forEach( room => {
                let li = document.createElement('li')
                let a = document.createElement('a')
                a.innerText = room.RoomName
                a.setAttribute('class', 'dropdown-item')
                a.setAttribute('href', `/RoomOwner/CalendarRoomId?roomid=${room.RoomId}`)
                li.appendChild(a)
                //要寫超連結src
                RoomNameDropMenu.appendChild(li)

            })


        }
        </script>
    }
</body>


