@model IEnumerable<Aircnc.FrontStage.Models.ViewModels.RoomOwner.HostHomePageViewModel>
@{
    ViewData["Title"] = "控制面板";
    Layout = "RoomOwnerNavbar.cshtml";
}

@section topCSS{
    <link href="~/css/Room_Owner/HostHomePage.css" rel="stylesheet" />
    <link href="~/Swiper/swiper-bundle.min.css" rel="stylesheet" />
}

<div class="container-fluid host_HomePage_today_container">
    <div class="container pt-5 pb-5">
        <h1>今天</h1>
        <div class="hostHomePage_host_info_text">
            <p>填妥重要詳情</p>
            <span>必須完成才能發布</span>
        </div>
    </div>
</div>

<section class="container start_to_be_a_host mt-5 mb-5">
    <div class="hostHomePage_host_welcome_text">
        <p>歡迎！</p>
        <span>你即將成為一名出色的房東，來了解一下要如何著手開始。</span>
    </div>
    <div class="row row-cols-1 row-cols-md-4 d-flex mt-3">
        <div class="card">
            <a href="https://www.airbnb.com.tw/hosting?modal=ACTION_SUBPAGE_GUEST_READINESS_CONTAINER&modalItem=">
                <img src="~/Img/HostHomePage/迎接首批房客.jpeg"
                     class="card-img-top"
                     alt="為迎接首批房客作好準備" />
                <div class="card-body">
                    <p class="card-text">為迎接首批房客作好準備</p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="https://www.airbnb.com.tw/hosting?modal=ACTION_SUBPAGE_CALENDAR_AND_PRICING_CONTAINER&modalItem=">
                <img src="~/Img/HostHomePage/自訂日曆與價格.jpeg"
                     class="card-img-top"
                     alt="自訂你的日曆與價格" />
                <div class="card-body">
                    <p class="card-text">自訂你的日曆與價格</p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="https://www.airbnb.com.tw/hosting?modal=ACTION_SUBPAGE_INSTANT_BOOK_CONTAINER&modalItem=">
                <img src="~/Img/HostHomePage/房客的預定方式.jpeg"
                     class="card-img-top"
                     alt="確認房客可使用的預訂方式" />
                <div class="card-body">
                    <p class="card-text">確認房客可使用的預訂方式</p>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="container host_order_details_container mt-5 mb-5">
    <div class="d-flex justify-content-between host_order_details_text">
        <p>你的預定</p>
        <a href="/RoomOwner/HostReservation">所有預定(@Model.Where(x => x.State != "已退房").Count())</a>
    </div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="btn nav-link active" id="nav-currently-receiving-tab" data-bs-toggle="tab" data-bs-target="#nav-currently-receiving" type="button" role="tab" aria-controls="nav-currently-receiving" aria-selected="true">目前接待中(@Model.Where(x => x.State == "目前接待中").Count())</button>
            <button class="btn nav-link" id="nav-upcoming-tab" data-bs-toggle="tab" data-bs-target="#nav-upcoming" type="button" role="tab" aria-controls="nav-upcoming" aria-selected="true">即將入住(@Model.Where(x => x.State == "即將入住").Count())</button>
            <button class="btn nav-link" id="nav-checkOut-soon-tab" data-bs-toggle="tab" data-bs-target="#nav-checkOut-soon" type="button" role="tab" aria-controls="nav-checkOut-soon" aria-selected="true">即將退房(@Model.Where(x => x.State == "即將退房").Count())</button>
            <!-- <button class="btn">即將開始的住宿(0)</button> -->
        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
        @*目前接待中*@
        <div class="tab-pane fade show active" id="nav-currently-receiving" role="tabpanel" aria-labelledby="nav-currently-receiving-tab">
            @*沒資料的畫面*@
            @if (@Model.Where(x => x.State == "目前接待中").Count() == 0)
            {
                <div class="host_your_orders mx-auto d-flex justify-content-center align-items-md-center">
                    <p class="p_host_your_orders_status">目前沒有任何旅客入住。</p>
                </div>
            }
            else
            {
                <!-- Swiper -->
                <div class="host_your_orders d-flex mx-auto justify-content-center align-items-md-center">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            @foreach (var item in Model)
                            {
                                if (DateTime.Now < Convert.ToDateTime(item.CheckOut))
                                {
                                    <div class="swiper-slide">
                                        <div class="card host_your_orders_card">
                                            <div class="card-body">
                                                <p class="card-title p_currently_hosting">@item.State</p>
                                                <h2 class="card-subtitle mb-2 h2_host_room_title">@item.RoomName</h2>
                                                <p class="card-text text-black p_guest_name">@item.GuestName</p>
                                                <p class="card-text text-black">@item.During</p>
                                            </div>
                                        </div>
                                    </div>

                                }
                            }

                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            }
        </div>

        @*即將入住*@
        <div class="tab-pane fade" id="nav-upcoming" role="tabpanel" aria-labelledby="nav-upcoming-tab">
            @*沒資料的畫面*@
            @if (@Model.Where(x => x.State == "即將入住").Count() == 0)
            {
                <div class="host_your_orders mx-auto d-flex justify-content-center align-items-md-center">
                    <p class="p_host_your_orders_status">今天或明天都不會有任何旅客入住。</p>
                </div>
            }
            else
            {
                <!-- Swiper -->
                <div class="host_your_orders mx-auto d-flex mx-auto justify-content-center align-items-md-center">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            @foreach (var item in Model)
                            {
                                if (DateTime.Now < Convert.ToDateTime(item.CheckOut))
                                {
                                    <div class="swiper-slide">
                                        <div class="card host_your_orders_card">
                                            <div class="card-body">
                                                <p class="card-title p_currently_hosting">@item.State</p>
                                                <h2 class="card-subtitle mb-2 h2_host_room_title">@item.RoomName</h2>
                                                <p class="card-text text-black p_guest_name">@item.GuestName</p>
                                                <p class="card-text text-black">@item.During</p>
                                            </div>
                                        </div>
                                    </div>

                                }
                            }

                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            }
        </div>

        @*即將退房*@
        <div class="tab-pane fade" id="nav-checkOut-soon" role="tabpanel" aria-labelledby="nav-checkOut-soon-tab">
            @*沒資料的畫面*@
            @if (@Model.Where(x => x.State == "即將退房").Count() == 0)
            {
                <div class="host_your_orders mx-auto d-flex justify-content-center align-items-md-center">
                    <p class="p_host_your_orders_status">今天或明天不會有任何旅客退房。</p>
                </div>
            }
            else
            {
                <!-- Swiper -->
                <div class="host_your_orders mx-auto d-flex mx-auto justify-content-center align-items-md-center">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            @foreach (var item in Model)
                            {
                                if (DateTime.Now < Convert.ToDateTime(item.CheckOut))
                                {
                                    <div class="swiper-slide">
                                        <div class="card host_your_orders_card">
                                            <div class="card-body">
                                                <p class="card-title p_currently_hosting">@item.State</p>
                                                <h2 class="card-subtitle mb-2 h2_host_room_title">@item.RoomName</h2>
                                                <p class="card-text text-black p_guest_name">@item.GuestName</p>
                                                <p class="card-text text-black">@item.During</p>
                                            </div>
                                        </div>
                                    </div>

                                }
                            }

                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section class="container-fluid tips_and_news_container mt-5 pb-5">
    <div class="container tips_and_news_wrap_container">
        <p class="p_tips_and_news">出租秘訣與最新消息</p>
        <div class="row row-cols-1 row-cols-md-4 d-flex justify-content-evenly">
            <div class="card">
                <a href="https://www.airbnb.com.tw/resources/hosting-homes/a/how-to-make-your-listing-stand-out-321">
                    <img src="~/Img/HostHomePage/如何讓房源脫穎而出.webp"
                         class="card-img-top"
                         alt="如何讓房源脫穎而出" />
                    <div class="card-body">
                        <p class="card-text">如何讓房源脫穎而出</p>
                    </div>
                </a>
            </div>

            <div class="card">
                <a href="https://www.airbnb.com.tw/resources/hosting-homes/a/sprucing-up-your-listing-description-13">
                    <img src="~/Img/HostHomePage/修飾潤色房源描述.webp"
                         class="card-img-top"
                         alt="修飾潤色房源描述" />
                    <div class="card-body">
                        <p class="card-text">修飾潤色房源描述</p>
                    </div>
                </a>
            </div>

            <div class="card">
                <a href="https://www.airbnb.com.tw/resources/hosting-homes/a/understanding-calendar-and-booking-settings-16">
                    <img src="~/Img/HostHomePage/了解日曆和預定設定.webp"
                         class="card-img-top"
                         alt="了解日曆和預定設定" />
                    <div class="card-body">
                        <p class="card-text">了解日曆和預定設定</p>
                    </div>
                </a>
            </div>

            <div class="card">
                <a href="https://www.airbnb.com.tw/resources/hosting-homes/a/create-a-guidebook-to-share-your-local-tips-23">
                    <img src="~/Img/HostHomePage/建立《在地指南》，分享當地攻略.webp"
                         class="card-img-top"
                         alt="建立《在地指南》，分享當地攻略" />
                    <div class="card-body">
                        <p class="card-text">建立《在地指南》，分享當地攻略</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

@section endJS{

    @*Swiper JS*@
    <script src="~/Swiper/swiper-bundle.min.js"></script>
    <script src="~/js/RoomOwner/HostHomePage.js"></script>
}
