@{
    ViewData["Title"] = "你的旅程";
    Layout = "OrderListLayout";
    //int activePage = (int)ViewData["ActivePage"];
    //int pages = (int)ViewData["Pages"];
}
@model IEnumerable<Aircnc.FrontStage.Models.ViewModels.Order.OrderViewModel>
<!-- 中間內容 -->
<div class="container-fluid">
    <div class="container">
        <div class="row topic">
            <h1 class="topic fw-bold fs-2 ms-1 mt-3">旅程</h1>
            @if (Model.Where(x=>x.Status==Aircnc.FrontStage.Models.Entities.OrderStatusEnum.Future).Count()> 0)
             {
                <span class=" fw-bold fs-4 ms-2 mt-3">即將開始的預定</span>
             }
        </div>
    </div>
</div>

<div class="container-fluid content-box mt-3 ms-2">
    <div class="container">
        @if (Model.Where(x => x.Status == Aircnc.FrontStage.Models.Entities.OrderStatusEnum.Future).Count() == 0)
        {
            @*沒有資料的版面*@
            <div class="row  reservation rounded-2 mt-2">
                <div class="col-10 col-md-5 mt-2 mb-3 p-4">
                    <i class="fas fa-hand-paper fs-1 icon"></i>
                    <span class="fw-bold fs-5 d-block">還沒預訂任何旅程！</span>
                    <span class="description">該拿出行李箱，開始規劃下一趟冒險之旅了</span>
                    <button class="btn mt-3 search_btn"><a href="#" class="text-white fw-bold">開始搜尋</a></button>
                </div>
                <div class="col-10 col-md-7 overflow-hidden d-none d-md-block">
                    @*<img src="https://picsum.photos/600/250/?random=10" class="w-100 h-100">*@
                    <img src="~/Img/Order/orderIndex.webp" class="orderIndexPic ms-md-4"/>
                </div>
            </div>
        }

        else
        {
            @* 有資料的版面 *@
            @foreach (var data in Model)
            {
                if (data.Status == Aircnc.FrontStage.Models.Entities.OrderStatusEnum.Future)
                {
                    DateTime now = DateTime.UtcNow.AddHours(8);
                    DateTime checkoutDate = DateTime.Parse(data.CkeckOut);
                    int result = DateTime.Compare(now, checkoutDate);
                    if (result <= 0)
                    {
                        <div class="row mb-5">
                            <div class="col-10 col-md-8 my-3 p-4 ms-3 shadow order">
                                <a href="~/RoomDetail/RoomDetail?roomId=@data.RoomId" class="order-detail-link d-flex">
                                    <div class="col-10 col-md-6 order-content p-md-3 p-3 h-100">
                                        <!-- District -->
                                        <div class="fw-bold fs-3 my-2 mt-auto">@data.District</div>
                                        <!-- 房源名稱 -->
                                        <div class="order-room-detail fs-5 my-3">@data.RoomName</div>
                                        <div class="w-100 date-address-content d-flex mt-auto">
                                            <!-- 入退房日期 -->
                                            <div class="col-6 col-md-4 pe-md-5 fs-5 check-in-out-date">
                                                @data.CkeckIn - @data.CkeckOut
                                            </div>
                                            <!-- 入住地址 -->
                                            <div class="col-6 col-md-6 stay-address ">
                                                <span class="fs-5">@data.City@data.District@data.Street</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-100 room-picture-container ms-md-2">
                                        @*<img src="https://picsum.photos/1960/1463/?random=10" class="room-picture w-100 d-none d-md-block">*@
                                        <img src="@data.RoomImg" class="room-picture w-100 d-none d-md-block">
                                    </div>
                                </a>
                            </div>
                        </div>
                    }

                }
            }

            @*頁面切換按鈕*@
            @*<nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href=@(activePage == 1? "#":$"/Order/OrderList/{activePage-1}")>上一頁</a>
                    </li>
                    @for (int i = 1; i <= pages; i++)
                    {
                        <li class="page-item @(i == activePage? "active": "")">
                            <a class="page-link" href="~/Order/OrderList/@i">@i</a>
                        </li>
                    }
                    <li class="page-item">
                        <a class="page-link" href=@(activePage == pages? "#":$"/Order/OrderList/{activePage+1}")>下一頁</a>
                    </li>
                </ul>
            </nav>*@
        }

        <!-- 歷史紀錄區塊 -->
        @if (Model.Where(x => x.Status == Aircnc.FrontStage.Models.Entities.OrderStatusEnum.Past).Count() > 0)
        {
            <div class="row history mt-3">
                <span class="fs-5 fw-bold mt-2">你去過的地方</span>
                @foreach (var data in Model)
                {
                    DateTime now = DateTime.UtcNow.AddHours(8);
                    DateTime checkoutDate = DateTime.Parse(data.CkeckOut);
                    int result = DateTime.Compare(now, checkoutDate);
                    if (result > 0)
                    {
                        <div class="row mt-2">
                            <div class="col-10">
                                <a href="~/RoomDetail/RoomDetail?roomId=@data.RoomId">
                                    <div class="d-flex">
                                        <!-- 按這邊可以連接到過去訂單資訊所以用a tag表示 -->
                                        <!-- 這裡的內容之後要動態生成 -->
                                        <div class="history-detail-img">
                                            @*<img src="https://picsum.photos/300/200/?random=10" class="rounded-3">*@
                                            <img src="@data.RoomImg" class="rounded-3">

                                        </div>
                                        <div class="ms-3 history-detail-content">
                                            <span class="d-block">@data.District</span>
                                            <span class="d-block">房東:@data.RoomOwnerName</span>
                                            <span>@data.CkeckIn - @data.CkeckOut</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                    //Model.Take(3);
                }
            </div>
        }


        <!-- 已取消區塊 -->
        @if (Model.Where(x => x.Status == Aircnc.FrontStage.Models.Entities.OrderStatusEnum.Cancel).Count() > 0)
        {
            <div class="row cancel mt-3">
                <span class="fs-5 fw-bold mt-2">已取消的旅程</span>
                @foreach (var cancel in Model)
                {
                    if (cancel.Status == Aircnc.FrontStage.Models.Entities.OrderStatusEnum.Cancel)
                    {
                        <div class="row mt-3">
                            <div class="col-10">
                                <a href="~/RoomDetail/RoomDetail?roomId=@cancel.RoomId">
                                    <div class="d-flex">
                                        <!-- 按這邊可以連接到過去訂單資訊所以用a tag表示 -->
                                        <!-- 這裡的內容之後要動態生成 -->
                                        <div class="cancel-detail-img">
                                            @*<img src="https://picsum.photos/300/200/?random=20" class="rounded-3">*@
                                            <img src="@cancel.RoomImg" class="rounded-3">
                                        </div>
                                        <div class="ms-3 cancel-detail-content">
                                            <span class="d-block">@cancel.District</span>
                                            <span class="d-block">房東:@cancel.RoomOwnerName</span>
                                            <span>@cancel.CkeckIn - @cancel.CkeckOut</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                }

                <!-- 找不到預定區塊 -->
                <div class="not-found mt-3">
                    <span>在這裡找不到預訂？</span>
                    <a href="#" class="fw-bold info">前往說明中心</a>
                </div>
            </div>

        }
    </div>
</div>

    @section CSS{
        <link href="~/css/Order/Order.css" rel="stylesheet" />
    }


