@using Aircnc.FrontStage.Common
@using Aircnc.FrontStage.Models.ViewModels.Guest
@using Aircnc.FrontStage.Models.Entities;
@using static Aircnc.FrontStage.Models.Entities.RoomServiceLabel
@model SearchRoomViewModel

@{
	string roomtype;
	List<string> roomservices = new List<string>();
	switch (@Model.RoomType)
	{
		case RoomTypeEnum.FullHouse :
			roomtype = RoomTypeEnum.FullHouse.GetDescriptionText();
			break;
		case RoomTypeEnum.Solo :
			roomtype = RoomTypeEnum.Solo.GetDescriptionText();
			break;
		default :
			roomtype = RoomTypeEnum.Share.GetDescriptionText();
			break;
	}

	foreach(var label in Model.RoomServiceLabels)
	{
		switch (label)
		{
			case TypeOfLabelEnum.Wifi:
				roomservices.Add(TypeOfLabelEnum.Wifi.GetDescriptionText());
				break;
			case TypeOfLabelEnum.Kitchen:
				roomservices.Add(TypeOfLabelEnum.Kitchen.GetDescriptionText());
				break;
			case TypeOfLabelEnum.TV:
				roomservices.Add(TypeOfLabelEnum.TV.GetDescriptionText());
				break;
			case TypeOfLabelEnum.Washing:
				roomservices.Add(TypeOfLabelEnum.Washing.GetDescriptionText());
				break;
			case TypeOfLabelEnum.Aircon:
				roomservices.Add(TypeOfLabelEnum.Aircon.GetDescriptionText());
				break;
			default:
				roomservices.Add(TypeOfLabelEnum.Parking.GetDescriptionText());
				break;
		}
	}
}

<a asp-controller="RoomDetail" asp-action="RoomDetail" asp-route-roomId="@Model.RoomId" onmouseover="chbg(@Model.RoomId)" onmouseout="rcbg(@Model.RoomId)">
	<div class="card mb-3 mx-3">
		<div class="row g-0">
			<div class="col-md-4 cardImgBox">
				<div id="carouselIndicators-@Model.RoomId" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselIndicators-@Model.RoomId" data-bs-slide-to="0"
								class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselIndicators-@Model.RoomId" data-bs-slide-to="1"
								aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselIndicators-@Model.RoomId" data-bs-slide-to="2"
								aria-label="Slide 3"></button>
					</div>
					<div class="carousel-inner">
						@foreach(var img in Model.RoomImgs.Select((url, index) => new {url, index})){
							if(img.index == 0)
							{
								<div class="carousel-item active">
									<img src="@img.url"
								 class="d-block w-100 rounded" alt="@Model.RoomId pic @img.index">
								</div>
							}
							else
							{
								<div class="carousel-item">
									<img src="@img.url"
								 class="d-block w-100 rounded" alt="@Model.RoomId pic @img.index">
								</div>
							}
						}
						
					</div>
					<button class="carousel-control-prev" type="button"
							data-bs-target="#carouselIndicators-@Model.RoomId" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button"
							data-bs-target="#carouselIndicators-@Model.RoomId" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<div>
						<div class="d-flex justify-content-between">
							<p class="card-text mb-0">
								<small class="text-muted">位於 @Model.City @Model.District 的 @roomtype</small>
							</p>
							@*<input type="checkbox" class="btn-check" id="WishList" autocomplete="off">
							<label class="btn labelHeart" for="WishList" data-bs-toggle="modal"
								   data-bs-target="#WishListModal">
								<i class="far fa-heart"></i><i class="fas fa-heart"></i>
							</label>*@

						</div>
						<h5 class="card-title">@Model.RoomName</h5>
						<p class="card-text">
							<small class="text-muted">
								@Model.Pax 位,@Model.RoomCount 間臥室,@Model.BedCount 張床,@Model.BathroomCount 間共用衛浴<br>
								@string.Join(",",roomservices)
							</small>
						</p>
					</div>
					<div class="d-flex mt-auto">
						<p class="card-text "><small class="text-muted"><i class="fas fa-star"></i> @Model.Stars (@Model.Comments 則評價)</small></p>
						<p class="card-text ms-auto">$@Model.UnitPrice / 晚</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</a>