@model Aircnc.FrontStage.Models.ViewModels.Guest.SearchVM

@{
	ViewData["Title"] = "AirCnC-Search";
	Layout = "Guest/_GuestLayout";
	int activePage = (int)ViewData["ActivePage"];
	int pages = (int)ViewData["Pages"];
	int totalRows = (int)ViewData["TotalRows"];

}

<div class="container-fluid advance-search d-flex justify-content-center">
	<div class="justify-content-evenly d-flex flex-row flex-wrap flex-md-nowrap my-2 w-75">
		<!-- 價格Button trigger modal -->
		<div>
			<button type="button" class="btn btn-outline-secondary rounded-pill text-nowrap text-dark advance-search-item" data-bs-toggle="modal"
					data-bs-target="#priceModal">
				價格&nbsp<i class="fas fa-angle-down"></i>
			</button>
		</div>
		<!-- 房源類型Button trigger modal -->
		<div>
			<button type="button" class="btn btn-outline-secondary rounded-pill text-nowrap text-dark advance-search-item" data-bs-toggle="modal"
					data-bs-target="#houseTypeModal">
				房源類型&nbsp<i class="fas fa-angle-down"></i>
			</button>
		</div>
		<!-- 房間類型Button trigger modal -->
		<div>
			<button type="button" class="btn btn-outline-secondary rounded-pill text-nowrap text-dark advance-search-item" data-bs-toggle="modal"
					data-bs-target="#roomTypeModal">
				房間類型&nbsp<i class="fas fa-angle-down"></i>
			</button>
		</div>
		<!-- 臥室和床鋪Button trigger modal -->
		<div>
			<button type="button" class="btn btn-outline-secondary rounded-pill text-nowrap text-dark advance-search-item" data-bs-toggle="modal"
					data-bs-target="#bedroomModal">
				臥室和床鋪&nbsp<i class="fas fa-angle-down"></i>
			</button>
		</div>
		<!-- WiFi -->
		@*<div class="d-none d-md-block">*@
		<div>
			<input type="checkbox" class="btn-check" id="btnWifi" autocomplete="off" value="Wifi" name="roomService">
			<label class="btn btn-outline-secondary rounded-pill text-nowrap text-dark advance-search-item" for="btnWifi">WiFi</label>
		</div>
		<!-- 廚房 -->
		<div>
			<input type="checkbox" class="btn-check" id="btnKitchen" autocomplete="off" value="Kitchen" name="roomService">
			<label class="btn btn-outline-secondary rounded-pill text-nowrap text-dark advance-search-item" for="btnKitchen">廚房</label>
		</div>
		<!-- 空調設備 -->
		<div>
			<input type="checkbox" class="btn-check" id="btnAirConditioner" autocomplete="off" value="Aircon" name="roomService">
			<label class="btn btn-outline-secondary rounded-pill text-nowrap text-dark advance-search-item" for="btnAirConditioner">空調設備</label>
		</div>
		<!-- 洗衣機 -->
		<div>
			<input type="checkbox" class="btn-check" id="btnWashMachine" autocomplete="off" value="Washing" name="roomService">
			<label class="btn btn-outline-secondary rounded-pill text-nowrap text-dark advance-search-item" for="btnWashMachine">洗衣機</label>
		</div>
		<!-- 免費停車 -->
		<div>
			<input type="checkbox" class="btn-check" id="btnFreeParking" autocomplete="off" value="Parking" name="roomService">
			<label class="btn btn-outline-secondary rounded-pill text-nowrap text-dark advance-search-item" for="btnFreeParking">免費停車</label>
		</div>
		<!-- 電視 -->
		<div>
			<input type="checkbox" class="btn-check" id="btnTV" autocomplete="off" value="TV" name="roomService">
			<label class="btn btn-outline-secondary rounded-pill text-nowrap text-dark advance-search-item" for="btnTV">電視</label>
		</div>
		<!-- 搜尋 -->
		<div>
			<button type="submit" id="btnAdSearch" class="btn btn-outline-secondary rounded-pill text-nowrap text-dark advance-search-item">
				進階搜尋
			</button>
		</div>
	</div>
</div>
<!-- 房源列表與地圖 -->
<div class="container-fluid room-list-map">
	<div class="row">
		<!-- 房源列表 -->
		<div class="col-12 col-md-7 mt-1">
			<!-- card -->
			<div class="room-list">
				@if(totalRows == 0){
					<p class="fs-3">無任何房源，請重新搜尋。</p>
				}
			@foreach (var room in Model.SearchRoom)
			{
				@await Html.PartialAsync("_Search_RoomCardPartial", room)
			}
			</div>
			<!-- pagination -->
			<nav aria-label="Page navigation" id="pageNavi">
				<ul class="pagination justify-content-center">
					<li class="page-item">
						<a class="page-link" href=@(activePage == 1 ? "#" : $"/search/search/{activePage - 1}") aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					@for (int i = 1; i <= pages; i++)
					{
						<li class="page-item @(i == activePage ? "active" : "")">
							<a class="page-link" href="/search/search/@i">@i</a>
						</li>
					}
					<li class="page-item">
						<a class="page-link" href=@(activePage == pages ? "#" : $"/search/search/{activePage + 1}") aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
				<p class="text-center">第 @(activePage == 1 ? "1" : activePage * 8 - 8) 項至第 @(activePage == pages ? totalRows : activePage * 8) 項，共 @totalRows 間房源</p>
			</nav>
		</div>

		<!-- 地圖 -->
		<div class="col-12 col-md-5 map-container d-md-block d-none">
			<div class="mapbox">
				@*<img class="mapimg w-100" src="./googlemap.png">*@
				<div id="map"></div>
			</div>
		</div>
	</div>
</div>
<button type="button" id="btn-switch-map-list" class="btn btn-primary rounded-pill d-md-none">
	地圖
</button>
<!-- 價格Modal -->
<div class="modal fade" id="priceModal" tabindex="-1" aria-labelledby="priceModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="priceModalLabel">每晚預算</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="d-flex align-content-center">
					<form class="form-floating">
						<input type="text" class="form-control" id="minPrice" onkeyup="value=this.value.replace(/[^\d]/g,'')">
						<label for="minPrice">最低價格</label>
					</form>
					<div class="m-2 my-auto">
						<span>-</span>
					</div>
					<form class="form-floating">
						<input type="text" class="form-control" id="maxPrice" onkeyup="value=this.value.replace(/[^\d]/g,'')">
						<label for="maxPrice">最高價格</label>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<div id="priceError" class="invisible text-danger">預算設定錯誤</div>
				<button type="button" id="priceClear" class="btn btn-secondary" data-bs-dismiss="modal">清除</button>
				<button type="button" id="priceSave" class="btn btn-dark">儲存</button>
			</div>
		</div>
	</div>
</div>
<!-- 房間類型Modal -->
<div class="modal fade" id="roomTypeModal" tabindex="-1" aria-labelledby="roomTypeModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="roomTypeModalLabel">選擇房間類型</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="form-check">
					<input class="form-check-input" name="roomtype" type="checkbox" value="FullHouse" id="RoomTypeFullHouse">
					<label class="form-check-label" for="RoomTypeFullHouse">
						整個房源
					</label>
					<p>無需與他人分享共住，可以獨享整個房源</p>
				</div>
				<div class="form-check">
					<input class="form-check-input" name="roomtype" type="checkbox" value="Solo" id="RoomTypeSolo">
					<label class="form-check-label" for="RoomTypeSolo">
						獨立房間
					</label>
					<p>擁有自己的房間，但與別人共用其他的空間</p>
				</div>
				<div class="form-check">
					<input class="form-check-input" name="roomtype" type="checkbox" value="Share" id="RoomTypeShare">
					<label class="form-check-label" for="RoomTypeShare">
						合住房間
					</label>
					<p>入住共用房源，如公共休息室</p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" id="roomTypeClear" class="btn btn-secondary" data-bs-dismiss="modal">清除</button>
				<button type="button" id="roomTypeSave" class="btn btn-dark">儲存</button>
			</div>
		</div>
	</div>
</div>
<!-- 房源類型Modal -->
<div class="modal fade" id="houseTypeModal" tabindex="-1" aria-labelledby="houseTypeModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="houseTypeModalLabel">選擇房源類型</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="form-check mb-3">
					<input class="form-check-input" name="housetype" type="checkbox" value="Apartment" id="houseTypeApartment">
					<label class="form-check-label" for="houseTypeApartment">
						公寓
					</label>
				</div>
				<div class="form-check mb-3">
					<input class="form-check-input" name="housetype" type="checkbox" value="OneBuild" id="houseTypeOneBuild">
					<label class="form-check-label" for="houseTypeOneBuild">
						獨棟房屋
					</label>
				</div>
				<div class="form-check mb-3">
					<input class="form-check-input" name="housetype" type="checkbox" value="Special" id="houseTypeSpecial">
					<label class="form-check-label" for="houseTypeSpecial">
						獨特房源
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" name="housetype" type="checkbox" value="Family" id="houseTypeFamily">
					<label class="form-check-label" for="houseTypeFamily">
						家庭式旅館
					</label>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" id="houseTypeClear" class="btn btn-secondary" data-bs-dismiss="modal">清除</button>
				<button type="button" id="houseTypeSave" class="btn btn-dark">儲存</button>
			</div>
		</div>
	</div>
</div>
<!-- 臥室和床鋪Modal -->
<div class="modal fade" id="bedroomModal" tabindex="-1" aria-labelledby="bedroomModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="bedroomModalLabel">臥室和床鋪</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid filter-option ">
					<div class="d-flex align-items-center justify-content-between">
						<div>床位</div>
						<div class="d-flex justify-content-end">
							<button type="button" id="minus-bed" class="btn">
								<i class="fas fa-minus-circle fs-4"></i>
							</button>
							<span class="my-auto" id="bed">0</span>
							<button type="button" id="add-bed" class="btn">
								<i class="fas fa-plus-circle fs-4"></i>
							</button>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between">
						<div>臥室</div>
						<div class="d-flex justify-content-end">
							<button type="button" id="minus-bedroom" class="btn">
								<i class="fas fa-minus-circle fs-4"></i>
							</button>
							<span class="my-auto" id="bedroom">0</span>
							<button type="button" id="add-bedroom" class="btn">
								<i class="fas fa-plus-circle fs-4"></i>
							</button>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between mb-4">
						<div>衛浴</div>
						<div class="d-flex justify-content-end">
							<button type="button" id="minus-bathroom" class="btn">
								<i class="fas fa-minus-circle fs-4"></i>
							</button>
							<span class="my-auto" id="bathroom">0</span>
							<button type="button" id="add-bathroom" class="btn">
								<i class="fas fa-plus-circle fs-4"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" id="bedroomClear" class="btn btn-secondary" data-bs-dismiss="modal">清除</button>
				<button type="button" id="bedroomSave" class="btn btn-dark">儲存</button>
			</div>
		</div>
	</div>
</div>
<!-- 心願單Modal -->
<div class="modal fade" id="WishListModal" tabindex="-1" aria-labelledby="WishListModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="WishListModalLabel">你的心願單</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="box">
					<button type="button" class="btn btn-outline-light text-dark w-100" data-bs-toggle="modal"
							data-bs-target="#newWishListModal">
						<i class="fas fa-plus"></i>建立新的心願單
					</button>
				</div>
				<div class="WishLish"></div>
			</div>
		</div>
	</div>
</div>
<!-- 建立新的心願單Modal -->
<div class="modal fade" id="newWishListModal" tabindex="-1" aria-labelledby="newWishListModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="newWishListModalLabel">為心願單取名</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<div>
					<input type="text" id="wishListName" class="form-control" aria-describedby="wishListHelpBlock"
						   placeholder="心願單名稱">
					<div id="wishListHelpBlock" class="form-text">
						最多50字
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-light">建立</button>
			</div>
		</div>
	</div>
</div>


@section topCSS{
<link rel="stylesheet" href="~/css/Guest_Module/search-style.css">
}
@section endJS{
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEsRONwcGSIu6xTXnVa_DeONA080hsKpU&callback=initMap"></script>
@*<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNUeaLH8za5eiC7S-fwsQ5tJjqCnusKb0&callback=initMap"></script>*@
<script src="https://unpkg.com/@@googlemaps/markerclusterer/dist/index.min.js"></script>
<script src="~/js/GuestModule/search.js"></script>
<script>
	var rooms = @Html.Raw((string)ViewData["Rooms"]);
	console.log(rooms)

	// Initialize and add the map
	function initMap() {
		// The location of Uluru
		const firstMarker = { lat: rooms[0].Lat, lng: rooms[0].Lng };
		// The map, centered at Uluru
		const map = new google.maps.Map(document.getElementById("map"), {
			zoom: 12,
			center: firstMarker,
			gestureHandling:"greedy"
		});
		//點marker後跳出的訊息
		const infoWindow = new google.maps.InfoWindow({
			disableAutoPan: false,
			maxWidth:300
		});
		// Add some markers to the map.
		const markers = rooms.map((room, i) => {
			const marker = new google.maps.Marker({
				position:{lat:room.Lat, lng:room.Lng},
				label:{
					text:`$ ${room.UnitPrice} TWD`,
					className:`bg-white rounded-pill fs-6 fw-bold r${room.RoomId}`,
				},
				icon:{
					url:"../Img/home.png",
					scaledSize:new google.maps.Size(40, 40),
					labelOrigin:{x:20, y:-10},
				}
			});
			// markers can only be keyboard focusable when they have click listeners
			// open info window when marker is clicked
			marker.addListener("click", () => {
				infoWindow.setContent(`<a href="Detail?roomId=${room.RoomId}">`+
				`<div class="room-info  d-flex flex-column">`+
					`<div class="imgbox">`+
                        `<img id="mapRoomImg" class="rounded" src="../Img/mapRoom300x225.jpg">`+
                    `</div>`+
                    `<div class="room-point px-3">`+
                        `<div class="d-flex flex-column">`+
                            `<div>`+
                                `<h5 class="mapRoomName">${room.RoomName}</h5>`+
                            `</div>`+
                            `<div class="d-flex mt-auto">`+
                                `<p><i class="fas fa-star"></i><small class="text-muted">${room.Stars} (${room.Comments} 則評價)</small></p>`+
								`<p class="fw-bold ms-auto">${room.UnitPrice} / 晚</p>`+
                            `</div>`+
                        `</div>`+
                    `</div>`+
                `</div>`+
				`</a>`);
				infoWindow.open(map, marker);
			});
			return marker;
		});
		
		// Add a marker clusterer to manage the markers.
		const markerCluster = new markerClusterer.MarkerClusterer({ map, markers });
	}
	window.initMap = initMap;

	function chbg(id){
		document.querySelector(`.r${id}`).classList.remove('bg-white');
		document.querySelector(`.r${id}`).classList.add('bg-black','text-light');
	}
	function rcbg(id){
		document.querySelector(`.r${id}`).classList.remove('bg-black','text-light');
		document.querySelector(`.r${id}`).classList.add('bg-white');
	}
</script>
}