



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aircnc.FrontStage</title>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)
    <style>
        body {
            font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
        }

        .logo {
            max-width: 100px;
        }

        #navbar_host_layout {
            min-height: 100px;
            border-bottom: 1px solid #E4E4E4;
        }

        .img-ctrl {
            max-width: 50px;
            max-height: 50px;
            border: 1px double #E4E4E4;
            border-radius: 50%;
            padding: 5px;
        }

        #navbarScrollingDropdown2::after {
            content: none;
        }
        /* 調整usericon的位置及下拉彈出要在視窗內部喔 喔喔喔喔喔*/
        @@media screen and (min-width:768px) {
            #user_icon {
                margin-left: calc(35vw - 50px);
            }
            .dropdown-menu[data-bs-popper] {

            left: -7rem;

            }
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light bg-white" id="navbar_host_layout">
            <div class="container-fluid ">
                <a href="./index.html" class="navbar-brand col-1">
                    <img src="~/Img/logo.jpg" alt="Creatures of Corner" class="logo">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                        aria-controls="navbar-brand" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarScroll">
                    <ul class="navbar-nav ms-md-auto   my-2 my-lg-0 fs-6 fw-bolder" style="--bs-scroll-height: 100px;">
                        <!-- 當選到的時候要在下面的li的class + active -->
                        <li class="nav-item my-auto">
                            <a class="nav-link" aria-current="page" href="#">今天</a>
                        </li>
                        <li class="nav-item ms-md-4 my-auto">
                            <a class="nav-link" href="#">收件匣</a>
                        </li>
                        <li class="nav-item ms-md-4 my-auto">
                            <a class="nav-link" href="#">日曆</a>
                        </li>
                        <li class="nav-item ms-md-4 my-auto">
                            <a class="nav-link" href="#">深入分析</a>
                        </li>
                        <!-- 選單下拉 -->
                        <li class="nav-item dropdown ms-md-4 my-auto">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown1" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                選單
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown1">
                                <li><a class="dropdown-item" href="#">房源</a></li>
                                <li><a class="dropdown-item" href="#">預定</a></li>
                                <li><a class="dropdown-item" href="#">建立新房源</a></li>
                                <li>
                                    <!-- 分隔線 -->
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">在地指南</a></li>
                                <li><a class="dropdown-item" href="#">交易紀錄</a></li>
                                <li><a class="dropdown-item" href="#">瀏覽出租資源</a></li>
                                <li><a class="dropdown-item" href="#">前往我們的社區論壇</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown text-end  " id="user_icon">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarScrollingDropdown2" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">

                                <div class="img-ctrl">
                                    <!-- 放使用者頭像 -->
                                    <img src="/Img/UserImgSample.jpeg" alt="" class="img-fluid">
                                </div>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown2">
                                <li><a class="dropdown-item" href="#">個人資料</a></li>
                                <li><a class="dropdown-item" href="#">帳號</a></li>
                                <li><a class="dropdown-item" href="#">尋求協助</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">繁體中文(TW)</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">$USDT</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item fw-bolder" href="#">切換至旅行模式</a>
                                </li>
                                <li>
                                    <a class="dropdown-item " href="#">登出</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Aircnc.FrontStage - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("endJS", required: false)
</body>
</html>
